<footer class="footer-distributed" id="footer">

      <div class="footer-left">
        <p class="text-white">© 2022-2024</p>
      </div>

      
      <div class="footer-center">

        <div>
          <i class="bi bi-geo-alt-fill"></i>
          <p>Barueri, São Paulo</p>
        </div>

        <div>
          <i class="bi bi-telephone-fill"></i>
          <p>(11) 93535-1079</p>
        </div>

        <div>
          <i class="bi bi-envelope-fill"></i>
          <p>
              <a href="mailto:rflmoreiralima@gmail.com" target="_blank">
                  rflmoreiralima@gmail.com
              </a>
          </p>
      </div>      

      </div>
      
      <div class="footer-right">

          <p class="footer-company-about">
          <span>Redes Sociais</span>
        </p>

        <div class="footer-icons">

            <a href="https://www.linkedin.com/in/rafael-moreira-lima-70ba71226/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/rflmoreira" target="_blank"><i class="bi bi-github"></i></a>
        </div>

      </div>

      
    </footer>