<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.linkedin.com/in/rafael-moreira-lima-70ba71226/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/rflmoreira" target="_blank"><i class="bi bi-github"></i></a>
            <a href="rafaelmoreira.lima@hotmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
        </div>

        <ul class="list-inline">
            <a href="#home" ><i class="fa fa-arrow-circle-up">
            </i> Voltar ao topo</a>
        </ul>

        <p class="copyright">Rafael Moreira © 2022</p>
        
    </footer>
</div>
