<footer class="footer-distributed" id="footer">

      <div class="footer-left">

        <h3>Rafael<span>moreira</span></h3>

        <p class="footer-links">
          <a href="#home" class="link-1">Início</a>
          
          <a class="nav-link" onclick="window.location.href = '#projetos'">Projetos</a>

          <a class="nav-link" onclick="window.location.href = '#footer'">Redes sociais</a>

          <a class="nav-link" onclick="window.location.href = '#footer'">Contato</a>

        </p>

        <p class="footer-company-name">©2022 por Rafael Moreira.
        </p>
      </div>

      
      <div class="footer-center">

        <div>
          <i class="bi bi-geo-alt-fill"></i>
          <p>Barueri, São Paulo</p>
        </div>

        <div>
          <i class="bi bi-telephone-fill"></i>
          <p>(11) 96527-7312</p>
        </div>

        <div>
          <i class="bi bi-envelope-fill"></i>
          <p><a href="mailto:rafaelmoreira.lima@hotmail.com
            ">rafaelmoreira.lima@hotmail.com
        </a></p>
        </div>

      </div>
      
      <div class="footer-right">

          <p class="footer-company-about">
          <span>Redes Sociais</span>
        </p>

        <div class="footer-icons">

            <a href="https://www.linkedin.com/in/rafael-moreira-lima-70ba71226/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/rflmoreira" target="_blank"><i class="bi bi-github"></i></a>
            <a href="#" target="_blank"><i class="bi bi-stack-overflow"></i></a>

        </div>

      </div>

      
    </footer>