.display {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card {
    border: none;
    background: #8fef8f;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.card:before {

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #8fef8f;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #2f4f4f;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:hover::after {
    transform: scaleY(1);
}


.fonts {
    font-size: 15px;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.social-list li {
    padding: 10px;
    font-size: 22px;
}

li a {
    color: #2f4f4f;
}

li a:hover {
    color: #141414;
}

.buttons button:nth-child(1) {
    border: 1px solid #2f4f4f !important;
    color: #2f4f4f;
    height: 40px;
}

.buttons button:nth-child(1):hover {
    border: 1px solid #2f4f4f !important;
    color: #fff;
    height: 40px;
    background-color: #2f4f4f;
}

.buttons button:nth-child(2) {
    border: 1px solid #2f4f4f !important;
    background-color: #2f4f4f;
    color: #fff;
    height: 40px;
}