
<nav class="navbar fixed-top navbar-dark navbar-text bgNav noselect backdrop-filter">
  <div class="navbar-container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="window.location.href = '#home'"><span>início</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="window.location.href = '#projetos'">Projetos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" onclick="window.location.href = '#footer'">Redes sociais</a>
      </li>
    </ul>
    <a class="neon-bt" onclick="window.location.href = '#footer'">Contato</a>
  </div>
</nav>