<div class="row d-flex justify-content-center pt-5 m-0" id="projetos">

  <div class="section-title">
    <span class="pt-5">Projetos</span>
    <h2 class="pt-5"></h2>
  </div>
</div>

<section class="body noselect">
  <div class="container">

    <div class="cards-list">
  
      <a class="card 1" href="https://projeto-aion.netlify.app/" target="_blank" style="text-decoration:none">
        <div class="card_image"> <img src="https://media.giphy.com/media/ZYR6BXtEgKiFdlppA0/giphy.gif" /> </div>
        <div class="card_title title-white black-text-shadow">
          <p>Fullstack</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>AION</p>
        </div>
      </a>
      
        <a class="card 2" href="https://github.com/rflmoreira/BlogPessoal" target="_blank" style="text-decoration:none">
        <div class="card_image">
          <img src="https://s3-sa-east-1.amazonaws.com/uploads-trilhante-sp/posts/2019-10-22/Writing.gif" />
          </div>
        <div class="card_title title-white black-text-shadow">
          <p>Front-end em desenvolvimento</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>BLOG PESSOAL</p>
        </div>
      </a>
      
      <a class="card 3" href="https://github.com/rflmoreira/Portfolio" target="_blank" style="text-decoration:none">
        <div class="card_image" >
          <img src="https://media0.giphy.com/media/CpNftawoXn8dwJWGyQ/giphy.gif" />
        </div>
        <div class="card_title title-white black-text-shadow">
          <p>Front-end</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>PORTFÓLIO</p>
        </div>
      </a>
        

      
      </div>

      <div class="row d-flex justify-content-center pt-5 m-0" id="projetos">
      
      <section class="body noselect">
        <div class="container">
      
          <div class="cards-list">
        
            <a class="card 1" href="https://github.com/rflmoreira/LojaGames" target="_blank" style="text-decoration:none">
              <div class="card_image"> <img src="https://c.tenor.com/7h-8OYbg-MUAAAAC/ps4-games.gif" /> </div>
              <div class="card_title title-white black-text-shadow">
                <p>Back-end</p>
              </div>
              <div class="card_text title-white black-text-shadow">
                <p>LOJA DE GAMES</p>
              </div>
            </a>
            
              <a class="card 2" href="https://github.com/rflmoreira/farmacia" target="_blank" style="text-decoration:none">
              <div class="card_image">
                <img src="https://c.tenor.com/XyqAngSRH08AAAAM/drag-medicine.gif" />
                </div>
              <div class="card_title title-white black-text-shadow">
                <p>Back-end</p>
              </div>
              <div class="card_text title-white black-text-shadow">
                <p>FARMÁCIA</p>
              </div>
            </a>
            
            <a class="card 3" style="text-decoration:none">
              <div class="card_image">
                <img src="https://airnfts.s3.amazonaws.com/profile-images/202110/0x9b25dFEad4dbfB846880Bd1473037D0e6bF3F852_1620609506976.gif" />
              </div>
              <div class="card_title title-white black-text-shadow">
                <p>Portal de Software Livre em desenvolvimento</p>
              </div>
              <div class="card_text title-white black-text-shadow">
                <p>NOTÍCIAS</p>
              </div>
            </a>
            
            </div>