<div class="row d-flex justify-content-center pt-5 m-0" id="projetos">

  <div class="section-title">
    <span class="pt-5">Projetos</span>
    <h2 class="pt-5"></h2>
  </div>
</div>



<section class="body noselect">
  <div class="container">

    <div class="cards-list">

      <a class="card 1" href="https://projeto-aion.netlify.app/" target="_blank" style="text-decoration:none">
        <div class="card_image"> <img src="assets/webp/ZYR6BXtEgKiFdlppA0.webp" /> </div>
        <div class="card_title title-white black-text-shadow">
          <p>Full-Stack</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>AION</p>
        </div>
      </a>

      <a class="card 2" href="https://simplelofiplayer.netlify.app/" target="_blank" style="text-decoration:none">
        <div class="card_image">
          <img class="gif-container" src="assets/webp/QDxWS5wmVvDv6Hi1LH.webp" />
        </div>
        <div class="card_title title-white black-text-shadow">
          <p>Front-End</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>SIMPLE LOFI PLAYER</p>
        </div>
      </a>

      <a class="card 3" href="https://climatempoo.netlify.app/" target="_blank" style="text-decoration:none">
        <div class="card_image">
          <img src="assets/gif/68J.gif" />
        </div>
        <div class="card_title title-white black-text-shadow">
          <p>Front-End</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>CLIMA TEMPO APP</p>
        </div>
      </a>

    </div>
    <div>
      <a class="card 1" href="https://amvplayer.netlify.app/" target="_blank" style="text-decoration:none">
        <div class="card_image">
          <img src="assets/gif/e9e9bc4f350b984809f19ba230277800.gif" />
        </div>
        <div class="card_title title-white black-text-shadow">
          <p>Front-End</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>AMV PLAYER</p>
        </div>
      </a>
    </div>