<div class="row d-flex justify-content-center pt-5 m-0" id="projetos">

  <div class="section-title">
    <span class="pt-5">Projetos</span>
    <h2 class="pt-5"></h2>
  </div>
</div>



<section class="body noselect">
  <div class="container">

    <div class="cards-list">
  
      <a class="card 1" href="https://projeto-aion.netlify.app/" target="_blank" style="text-decoration:none">
        <div class="card_image"> <img src="assets/webp/ZYR6BXtEgKiFdlppA0.webp" /> </div>
        <div class="card_title title-white black-text-shadow">
          <p>Full-Stack</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>AION</p>
        </div>
      </a>
      
        <a class="card 2" href="https://simplelofiplayer.netlify.app/" target="_blank" style="text-decoration:none">
        <div class="card_image">
          <img class="gif-container" src="assets/webp/QDxWS5wmVvDv6Hi1LH.webp" />
          </div>
        <div class="card_title title-white black-text-shadow">
          <p>Front-End</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>SIMPLE LOFI PLAYER</p>
        </div>
      </a>
      
      <a class="card 3" href="https://climatempoo.netlify.app/" target="_blank" style="text-decoration:none">
        <div class="card_image" >
          <img src="assets/gif/68J.gif" />
        </div>
        <div class="card_title title-white black-text-shadow">
          <p>Front-End</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>CLIMA TEMPO APP</p>
        </div>
      </a>
        
      <!-- <a class="card 4" href="https://github.com/rflmoreira/LojaGames" target="_blank" style="text-decoration:none">
        <div class="card_image"> <img src="assets/gif/ps4-games.gif" /> </div>
        <div class="card_title title-white black-text-shadow">
          <p>Back-End</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>LOJA DE GAMES</p>
        </div>
      </a>

      <a class="card 5" href="https://github.com/rflmoreira/farmacia" target="_blank" style="text-decoration:none">
        <div class="card_image">
          <img src="assets/gif/drag-medicine.gif" />
          </div>
        <div class="card_title title-white black-text-shadow">
          <p>Back-End</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>FARMÁCIA</p>
        </div>
      </a> -->

      <!-- <a class="card 6" style="text-decoration:none">
        <div class="card_image">
          <img src="assets/gif/0x9b25dFEad4dbfB846880Bd1473037D0e6bF3F852_1620609506976.gif" />
        </div>
        <div class="card_title title-white black-text-shadow">
          <p>Portal de Software Livre em desenvolvimento</p>
        </div>
        <div class="card_text title-white black-text-shadow">
          <p>NOTÍCIAS</p>
        </div>
      </a> -->
      
      </div>