  <div class="row d-flex justify-content-center pt-5 m-0" id="habilidades">

    <div class="section-title">
      <span class="pt-5">habilidades</span>
      <h2 class="pt-5"></h2>
    </div>
  </div>

  <div class="container">
    <div class="icon-box">
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" height="42" width="42" alt="Ícone do HTML5" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" height="42" width="42" alt="Ícone do CSS3" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="42" width="42" alt="Ícone do JavaScript" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" height="42" width="42" alt="Ícone do Java" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" height="42" width="42" alt="Ícone do Python" />
      <img class="wave" src="https://icongr.am/devicon/django-original.svg" height="42" width="42" alt="Ícone do Django" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" height="42" width="42" alt="Ícone do Angular" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" height="42" width="42" alt="Ícone do Spring" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" height="42" width="42" alt="Ícone do MySQL" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" height="42" width="42" alt="Ícone do Bootstrap" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg" height="42" width="42" alt="Ícone do Docker" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg" height="42" width="42" alt="Ícone do Linux" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ubuntu/ubuntu-original.svg" height="42" width="42" alt="Ícone do Ubuntu" />
    </div>
  </div>
  
