  <div class="row d-flex justify-content-center pt-5 m-0" id="habilidades">

    <div class="section-title">
      <span class="pt-5">habilidades</span>
      <h2 class="pt-5"></h2>
    </div>
  </div>

  <div class="container">
    <div class="icon-box">
      <!-- Desenvolvimento Web -->
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" height="43" width="43" alt="Ícone do HTML5" title="HTML5" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" height="43" width="43" alt="Ícone do CSS3" title="CSS3" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="43" width="43" alt="Ícone do JavaScript" title="JavaScript" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" height="43" width="43" alt="Ícone do Angular" title="Angular" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" height="43" width="43" alt="Ícone do Bootstrap" title="Bootstrap" />
  
      <!-- Backend -->
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" height="43" width="43" alt="Ícone do Java" title="Java" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" height="43" width="43" alt="Ícone do Python" title="Python" />
      <img class="wave" src="https://icongr.am/devicon/django-original.svg" height="43" width="43" alt="Ícone do Django" title="Django" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" height="43" width="43" alt="Ícone do Spring" title="Spring" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" height="43" width="43" alt="Node.js" title="Node.js" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" height="43" width="43" alt="Ícone do MySQL" title="MySQL" />
  
      <!-- Ferramentas -->
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" height="43" width="43" alt="Git" title="Git" />
      <img class="wave" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg" height="43" width="43" alt="Docker" title="Docker" />
      <img class="wave" src="https://img.icons8.com/?size=100&id=fG5Tnj4ARIoI&format=png&color=000000" height="43" width="43" alt="Linux" title="Linux" />
    </div>
  </div>
  
  
