/* Centraliza o container */
.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  /* Estilo do box com borda arredondada */
.icon-box {
  display: inline-block;
  text-align: center;
}

.wave {
  display: inline-block;
  transition: transform 0.3s ease;
}

.wave:hover, .wave:active {
  animation: wave-animation 1s forwards;
}

@keyframes wave-animation {
  from {
     transform: none;
   }
   15% {
     transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
   }
   30% {
     transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
   }
   45% {
     transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
   }
   60% {
     transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
   }
   75% {
     transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
   }
   to {
     transform: none;
   }
 }

 @media (pointer: coarse) {
  .wave:active {
      animation: wave-animation 1s forwards;
  }
}
