<!-- PROJETO UM -->
<div class="modal fade noselect" id="modalUm" tabindex="-1" aria-labelledby="modalUmLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalUmLabel">Aion</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                A rede social Aion surgiu como projeto integrador durante o Bootcamp da 
                <a _ngcontent-vlj-c28="" href="https://brazil.generation.org/" target="_blank" class="text-bold abs text-black-50">Generation Brasil</a>
                em 2022, baseando-se na ODS 8 da ONU: Desenvolvimento Sustentável, Trabalho Descente e Crescimento Econômico. Surgimos com propósito de 
                aumentar a taxa de reciclagem de lixos eletrônicos promovendo uma rede consciente e descontraída de conversas. 
                O Back-end foi feito com o framework SpringBoot, com o banco de dados MySQL e os testes de aplicação pelo JUnit e Postman.
                No Front-end consumimos a API através do framework Angular com a linguagem Typescript. O Deploy do
                back-end foi feito pelo Heroku, e o front-end pelo Netlify.
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- PROJETO DOIS -->
<div class="modal fade noselect" id="modalDois" tabindex="-1" aria-labelledby="modalDoisLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalDoisLabel">Blog Pessoal</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Rede social e um serviço de microblog, que permite cadastrar, editar e deletar postagens, temas e usuários.
                O Back-end foi feito com o framework SpringBoot, com o banco de dados MySQL e os testes de aplicação
                pelo JUnit e Postman. O Front-end está em desenvolvimento através do Angular 8+ e Typescript.
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- PROJETO TRÊS -->
<div class="modal fade noselect" id="modalTres" tabindex="-1" aria-labelledby="modalTresLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalTresLabel">Portfólio</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Nesse portfólio coloquei em prática meus conhecimentos em Angular, Typescript, HTML, CSS e Bootstrap, a
                fim de mostrar um pouco mais do meu trabalho.
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- PROJETO QUATRO -->
<div class="modal fade noselect" id="modalQuatro" tabindex="-1" aria-labelledby="modalQuatroLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalQuatroLabel">Loja de Jogos</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Um e-commerce de jogos com cadastro de produtos e categorias, carrinho de compras, métodos de pagamento
                e de curtir produtos. O
                Back-end foi feito com o framework SpringBoot, com o banco de dados MySQL e os testes de aplicação pelo
                JUnit e Postman.
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- PROJETO CINCO -->
<div class="modal fade noselect" id="modalCinco" tabindex="-1" aria-labelledby="modalCincoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalCincoLabel">Farmácia</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Um e-commerce de farmácia com cadastro de produtos e categorias, carrinho de compras e métodos de
                pagamento. O
                Back-end foi feito com o framework SpringBoot, com o banco de dados MySQL e os testes de aplicação pelo
                JUnit e Postman. 
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- PROJETO SEIS -->
<div class="modal fade noselect" id="modalSeis" tabindex="-1" aria-labelledby="modalSeisLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content corModal">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalSeisLabel">Site de Notícias</h5>
                <button type="button" class="btn-close fechar" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Um site brasileiro que descomplica o Linux com noticias, dicas, tutoriais e informações sobre Ubuntu, 
                Debian, Mint, Fedora, openSUSE, Arch, Redhat, CentOS, Manjaro e muito mais informações sobre Linux, 
                software livre e de código aberto. Projeto ainda em desenvolvimento!
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>