<div class="container col-xxl-8 px-4 pt-5 text-white" id="home">
    <div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://i.imgur.com/pHyUKS7.png" class="d-block mx-lg-auto img-fluid pt-3" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="font_4" style="text-align:left; line-height:1.25em; font-size:72px;"><span class="color_32"><span style="text-transform:uppercase;">RAFAEL MOREIRA</span></span></h1>
            <p class="font_7" style="line-height:1.67em; font-size:20px;"><span class="color_11">Full Stack Developer</span></p>
            <div class="d-grid gap-3 pt-2 d-md-flex justify-content-md-start">
                <a class="bn31" href="#sobre-mim"><span class="bn31span">Sobre mim</span></a>
                <a class="contato" href="../../assets/pdf/Currículo Rafael Moreira.pdf" target="_blank"><span class="contatospan">Currículo</span></a>

            </div>
        </div>
    </div>
    
</div>