<div class="container col-xxl-8 px-4 pt-5 text-white" id="home">
    <div class="row align-items-center g-5 pt-5">
        <div class="col-lg-6">
            <h1 class="font_4 color_32 text-left mt-5" style="line-height: 1.25em; font-size: 72px;">
                Olá!
            </h1>            
            <p class="font_7 color_11 mt-5" style="line-height: 1.67em; font-size: 20px;">
            </p>
            <p class="font_7 color_11 mt-5" style="line-height: 1.67em; font-size: 20px;">
                Sou Rafael Moreira, desenvolvedor full-stack web e mobile, com foco em tecnologias modernas. Estou sempre aberto a novos desafios para contribuir em projetos inovadores e de alto impacto. Vamos construir algo incrível juntos?
            </p>
            <div class="d-grid gap-3 pt-2 d-md-flex justify-content-md-start">
                <p>Entre em contato: <span><a class="link-animation" href="mailto:rafael.desenvolvedor&#64;proton.me">rafael.desenvolvedor&#64;proton.me</a></span></p>
            </div>
        </div>
    </div>
</div>
